
.pokemon-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
    justify-items:center;
  }

.pokemon-card {
    margin: 5px;
}

  @media (min-width: 600px) {
    .pokemon-list {
        grid-template-columns: repeat(2, 1fr); /* Two columns on medium screens */

    }
  }
  
  @media (min-width: 1024px) {
    .pokemon-list {
      grid-template-columns: repeat(3, 1fr); /* Three columns on large screens */
    }
  }
  
  @media (min-width: 1440px) {
    .pokemon-list {
      grid-template-columns: repeat(4, 1fr); /* Four columns on extra large screens */
    }
  }

  .pokemon-stats {
    padding: 10px;
    border-top: 1px solid #ddd; /* subtle division from the rest of the card */
    margin-top: 10px;
  }
  
  .pokemon-stats h4 {
    margin-bottom: 8px;
    font-size: 1.2em;
  }
  
  .stat-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
  }

  .stat-label-container {
    flex-basis: 30%;
    text-align: right;
    padding-right: 10px;
  }

  .stat-label {
    flex-basis: 40%; /* Adjust as needed */
    text-align: right;
    margin-right: 5px; /* Spacing between label and bar */
  }
  

  .stat-bar-container {
    width: 100px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .stat-bar {
    height: 10px;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
    /* Dynamic width based on stat value */
  }
  
  

.pokemon-card img {
    width: 100px;
    height: auto;
    border: solid black;
}

.header {
    position:fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
}

.header.visible {
    transform: translateY(0);
}
@media (max-width: 599px) {
    .header {
        transition: transform 0,3s ease-in;
    }

    .header:not(.visible) {
        transform: translateY(-100%);
    }
}

@media (min-width: 600px){
    .header {
        position: sticky;
    }
}